*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  min-width: 100%;
  margin:auto;
  min-height: 100vh;
  padding: 2%;

  background-image: linear-gradient(rgba(236,236,236,0.9),rgba(236,236,236,0.3)), url(img/store.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;
}
.container .group {
    padding: 8px 48px;
    margin: 8px;
    align-self:center;
}

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
}

label::before {
    content: "";
    background: url("img/check-circle.svg");
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -44px;
    top: -8px;
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
}

label::after {
    content: "";
    border: 2px solid #27ae60;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -42px;
    top: -6px;
    border-radius: 50%;
}

.search-bar {
    margin-bottom: 10%;
    width: 75%;
    max-height: 75%;
    max-width: 500px;
    background: rgba(40, 40, 40, .6);
    display: flex;
    position: absolute;
    top: 20px;
    align-self:center;
    align-items: center;
    border-radius: 60px;
    padding: 2px 5px;
    backdrop-filter: blur(4px) saturate(180%);
    margin:auto;
}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 2px 5px;
  font-size: 100%;
  color: #ffffff;
}

::placeholder{
  color: white;
}

.search-bar button img{
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.search-bar button{
  display:none;
  overflow: hidden;
  border: 0;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  background: #27ae60;
  cursor:auto;
}
.row {
    padding:1%;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 60px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media screen and (min-width: 768px){
    .search-bar button{
        display: block;
    }
    #leftside > button {display:none;}
    #grid{grid-template-columns:auto auto;}
}
#grid{
    display: grid;
    position:absolute;
    top:175px;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
}
.cell{
    padding:5px;
    border:1px solid #a6e5fc;
    background: rgba(236,236,236,0.9);
}

